@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


*{
  box-sizing: border-box;
}

body{
  background-color: #d9dadf;
  font-size: 20px;
  background-image: url(./ICONS/noun-flower-4160955.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 400px;
 
 }

 .bloco-left{
  display: relative;
  width: 50%;
  font-size: 22px;
 }

 .bloco-right{
  position: absolute;
  top: 60%;
  left: 58%;
  width: 40%;
  font-size: 17px;
  } 

 #nome{
  color:#202124;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 40px;

 }
 #dev{
  text-align: center;
  font-size: 25px;
  color: #4f5057;
 }

 h2{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  position: relative;
  left: 20%;
 }

 p{
  color: #3d3312;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
 }

 .avatar{
  position: relative;
  left: 35%;
  margin-top: 5%;
  border-radius: 50%;
  width: 280px;
  height: 300px;
  }

  .avatar:hover{
    opacity: 0.9;
  }

 .address{
  font-style: normal;
  color: black;
 }

 a{
  color: #3d3312;
}

.ingles{
  display: flex;
  flex-flow: row wrap;
  text-indent: 50px;
}
 .html{

  width: 100px;
 }

 .css{

  width: 90px;
 }

 .js{

  width: 130px;
 }
 .phone{

  width: 22px;
 }

 .email{

  width: 22px;
 }

 .location{

  width: 22px;
 }

 .linkedin{
  width: 22px;
 }

 .github{
  width: 22px;
 }

 .lang{
  position: absolute;
  top: 78%;
  width: 40px;
  height: 30px;
 }

@media screen and (max-width: 600px){
  body{
    height: 400px;
    width: 400px;
    background-image: none;
    overflow-x: hidden;
}

 h1{
  text-align: center;

 }

 p{
  /* text-align: justify; */
 }

 .bloco-left{
  position: relative;
  left: 10%;
  width: 99%;
  font-size: 17px;

 }
 .bloco-right{
  position: absolute;
  top: 155%;
  left: 5%;
  width: 99%;
  font-size: 17px;

 }

 .address{
  font-style: normal;
  color: black;
  align-items: center;
 }

 a{
  color: #3d3312;
}

#nome{
  font-size: 30px;
}
.avatar{
  display: flex;
  left: 16%;
}

}